<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">

    <title>Document</title>
</head>
<body>
    <header>
        <h1>Details!</h1>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/searches/new">search menu</a></li>
        </ul>
    </header>
    <main>
        <section>
            <img src='<%= singleBook.image_url %>' >
                <h2><%= singleBook.title %> </h2>
                <h3><%= singleBook.author %></h3>
                <p><%= singleBook.description %></p>
                <p><%= singleBook.isbn %></p>
                <p><%= singleBook.bookshelf %></p>
        </section>
    </main>

    
    
</body>
</html>