<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/home.css">
    <title>home page</title>
</head>
<body>
    <header>
        <%- include('./layout/header'); %>
    </header>
    <p>you have now : <%= results.length %> books</p>
    <main>
        <section>
            <% results.forEach(elem =>{ %>
                <div>
                <img src="<%= elem.image_url %>" >
                <h2><%= elem.title %> </h2>
                <h3><%= elem.author %></h3>
                
                <a href="/books/<%=elem.id%>">View Details</a>
            </div>

                <% }); %>
        </section>
    </main>
    <footer></footer>
</body>
</html>